return {
	Name = "My Game With Noncompliant Windowing";
	Type = "Application";
	Icons = {
		["16x16"] = "/MyPartiallyCompliantOS/MyIcon16x16.nfp";
		["32x32"] = "/MyPartiallyCompliantOS/MyIcon32x32.nfp";
	};
	Exec = "/MyPartiallyCompliantOS/myfungame";
	Terminal = false;
	CompliantWindowManagement = false;
	ShowIn = { "/MyPartiallyCompliantOS/start" };
	Categories = { "Game", "Amusement" };
}
